:root{
    --blue:  #1F3E59;
    --backing: #F7F1F0;
    --columnColour: #E9C1AF;
}

body{
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--backing);
}

.header{
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.body-grid-container{
    display: flex;
    flex-direction: row;
}

.input-container{
    display: flex;
    justify-content: center;
    background-color: var(--columnColour);
    margin-top: 1rem;
    flex-direction: column;
    flex-grow: 1;
}

.add-book{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: bold;
}

.input-column{
    height: 88vh;
    background-color: var(--columnColour);
    margin-top: 1rem;
}

.input-block{
    margin: 0.5rem 1rem;
    width: 100%;
}

input{
    border: none;
    width: auto;
    height:1.5rem;
    font-size: 1rem;
}

.input-labels{
    color: var(--blue);
    font-weight: bold;
    padding:0.5rem 0;
}

.checkbox-box{
    display: flex;
    padding: 1rem;
    vertical-align: middle;
}

.inputs-check{
    line-height: 3;
}
.button-box{
    padding: 0.5rem 2rem;
    
}


.button-submit{
    text-align: center;
    background: transparent;
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: 1rem;
    font-weight: bold;
    transition: 0.1s background-color linear, 0.1s color linear;
    cursor: pointer;
}

.button-submit:hover{
    background-color: var(--blue);
    color:white;
    
}

.button-clear{
    text-align: center;
    background: transparent;
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: 1rem;
    font-weight: bold;
    transition: 0.1s background-color linear, 0.1s color linear;
    margin-top: 0.5rem;
    cursor: pointer;
}

.button-clear:hover{
    background-color: var(--blue);
    color:white;
    
}

.book-shelf{
    margin-top: 1rem;
    display: grid;
    flex-grow: 2;
    height: max-content;
}

.book-labels-container{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr; 
    padding: 1rem;
    background-color: var(--blue);
    text-align: center;
}

.book-labels{
    color: white;
    font-weight: bold;
}

.book-entries-container{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr; 
    padding: 1rem;
    text-align: center;
    
}

.book-entries{
    color: var(--blue);
    cursor: pointer;
    transition: cubic-bezier();
}

.book-delete-container{
    display: flex;
    justify-content: center;
}

.book-delete{
    width:1rem;
    height: 1rem;
    background-color: transparent;
    color: var(--blue);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

img{
    width: inherit;
    z-index: 0;
}

